{% extends 'base.html.twig' %}

{% block title %}Vendeur index{% endblock %}

{% block body %}
    <h1>Liste des Vendeurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vendeur in vendeurs %}
            <tr>
                <td>{{ vendeur.id }}</td>
                <td>
                    <a href="{{ path('vendeur_show', {'id': vendeur.id}) }}">Afficher</a>
                    <a href="{{ path('vendeur_edit', {'id': vendeur.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Pas de résultats</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('vendeur_new') }}">Créer un nouveau vendeur</a>
{% endblock %}
