{% extends 'base.html.twig' %}

{% block title %}New Vendeur{% endblock %}

{% block body %}
    <h1>Créer un nouveau Vendeur</h1>

    {{ include('vendeur/_form.html.twig') }}

    <a href="{{ path('vendeur_index') }}">Retourner à la liste</a>
{% endblock %}
