{% extends 'base.html.twig' %}

{% block title %}New Acheteur{% endblock %}

{% block body %}
    <h1>Créer un nouvel Acheteur</h1>

    {{ include('acheteur/_form.html.twig') }}

    <a href="{{ path('acheteur_index') }}">Retourner à la liste</a>
{% endblock %}
