{% extends 'base.html.twig' %}

{% block title %}New Admin{% endblock %}

{% block body %}
    <h1>Créer un nouvel Admin</h1>

    {{ include('admin/_form.html.twig') }}

    <a href="{{ path('admin_index') }}">Retourner à la liste</a>
{% endblock %}
