{% extends 'base.html.twig' %}

{% block title %}New Photo{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Photo</h1>

    {{ include('photo/_form.html.twig') }}

    <a href="{{ path('photo_index') }}">Retourner à la liste</a>
{% endblock %}
