{% extends 'base.html.twig' %}

{% block title %}New Personne{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Personne</h1>

    {{ include('personne/_form.html.twig') }}

    <a href="{{ path('personne_index') }}">Retourner à la liste</a>
{% endblock %}
