{% extends 'base.html.twig' %}

{% block title %}Edit Estimation{% endblock %}

{% block body %}
    <h1>Modifier l'Estimation</h1>

    {{ include('estimation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('estimation_index') }}">Retourner à la liste</a>

    {{ include('estimation/_delete_form.html.twig') }}
{% endblock %}
