{% extends 'base.html.twig' %}

{% block title %}New OrdreAchat{% endblock %}

{% block body %}
    <h1>Créer un nouvel OrdreAchat</h1>

    {{ include('ordre_achat/_form.html.twig') }}

    <a href="{{ path('ordre_achat_index') }}">Retourner à la liste</a>
{% endblock %}
