{% extends 'base.html.twig' %}

{% block title %}Edit Encherir{% endblock %}

{% block body %}
    <h1>Modifier les enchères faites sur les lots par les acheteurs</h1>

    {{ include('encherir/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('encherir_index') }}">Retourner à la liste</a>

    {{ include('encherir/_delete_form.html.twig') }}
{% endblock %}
