{% extends 'base.html.twig' %}

{% block title %}New Encherir{% endblock %}

{% block body %}
    {% if app.user %}
    <h1>Encherir sur un Lot</h1>

    {{ include('encherir/_form.html.twig') }}

    <a href="{{ path('encherir_index') }}">Retourner à la liste</a>
    
    {% else %}
    <p>Connectez-vous</p>
    <a href="{{ path('login') }}">Connexion</a>
    {% endif %}
{% endblock %}
